{% extends "layouts/application.html" %} 
{% block title %}The Greater Tiverton Community Chorus | Our Next Concert{% endblock %}
{% block head %}
<meta name="description" content="Upcoming concert information from the Grater Tiverton Community Chorus.">
<meta itemprop="name" content="The Greater Tiverton Community Chorus | Our Next Concert">
<meta itemprop="description" content="Upcoming concert information from the Greater Tiverton Community Chorus.">
<meta itemprop="image" content="/images/concert-2.jpg)">
{% endblock %}
{% block content %} {% include "shared/nav-bar.html" %}
<div id="concert-page-header-banner" class="banner-img" style="background-image: url(/images/concert-2.jpg)">
</div>
<div class="container" style="border: solid 4px red;">
  <h2 style="text-align: center">We miss singing for you!</h2>
  <p style="text-align: center">Please stay in touch with GTCC through our Facebook page and our website. After this crisis passes, we look forward to creating ways to celelbrate our 40th season!</p>
</div>
<!--
<div id="concert-info" class="container">
    <h2>Join Us For Our Next Concert</h2>
    <div id="concert">
        <div id="calendar" class="calendar-stack fa-5x">
            <i class="fa fa-calendar-o"></i>
            <span class="calendar-day">May 15 & 17</span>
        </div>
        <div id="concert-text">
            <h3>Arnesen's MAGNIFICAT</h3>
            <p>Friday, May 15, 2020 @ 7:30PM | St. John the Baptist Church, Westport, MA</p>
            <p>Sunday, May 17, 2020 @ 2:00PM | St. Theresa’s Catholic Church, Tiverton, RI</p>
            <p>We are going to Carnegie Hall in April to perform the MAGNIFICAT with other choruses. We will bring our NYC experience back home and share it with you.</p>
            <p>Our concert at home will feature two in house soloists and an orchestra.</p>
            <p>
                <strong>Tickets: $15 in advance, $18 at the door</strong> Tickets available from Chorus Members or may be purchased
                at Coastal Roasters Coffee in Tiverton or by calling <a href="tel:7743284951">774-328-4951</a>.</p>
                <!--
            <ul class="inline-list">
                <li class="nav-item">
                     <a title="Brown Paper Bag Tickets" href="https://www.brownpapertickets.com/event/4448834">Get Tickets...</a>
                </li>
            </ul>
        </div>
        <!--
        <div id="concert-poster" class="text-box-image">
            <a href="/images/GTCC_CeremonyofCarols_Flyer.jpg"><img class="poster-img" title="A Ceremony of Carols: Winter Concert 2020" alt="Poster for the Greater Tiverton Community Chorus Winter 2020 Concert: A Ceremony of Carols" src="/images/GTCC_CeremonyofCarols_Flyer.jpg" /></a>
        </div>
    </div>
    <div id="concert-sponsors">
        <h2>This Concert Sponsored By:</h2>
        <div class="sponsors">
                <a title="Mass Cultural Council" href="http://www.massculturalcouncil.org" target="_blank"><img class="sponsor-img" title="Mass Cultural Council" alt="Mass Cultural Council Logo" src="/images/MCC_Logo_web.png" /></a>
        </div>
    </div>
    <a href="past-concerts.html">
        <h3>See Our Past Concerts...</h3>
    </a>
</div>
-->
{% endblock %}
