{% extends "layouts/application.html" %} 
{% block title %}The Greater Tiverton Community Chorus | Our Next Concert{% endblock %}
{% block head %}
<meta name="description" content="Upcoming concert information from the Grater Tiverton Community Chorus.">
<meta itemprop="name" content="The Greater Tiverton Community Chorus | Our Next Concert">
<meta itemprop="description" content="Upcoming concert information from the Greater Tiverton Community Chorus.">
<meta itemprop="image" content="/images/concert-2.jpg)">
{% endblock %}
{% block content %} {% include "shared/nav-bar.html" %}
<div id="concert-page-header-banner" class="banner-img" style="background-image: url(/images/concert-2.jpg)">
</div>
<div id="concert-info" class="container">
    <h2>Join Us For Our Next Concert</h2>
    <div id="concert">
        <div id="calendar" class="calendar-stack fa-5x">
            <i class="fa fa-calendar-o"></i>
            <span class="calendar-day">December 13 & 15, 2019</span>
        </div>
        <div id="concert-text">
            <h3>A Ceremony of Carols</h3>
            <p>Featuring Hyunyung Choi</p> 
            <p>December 13, 2019 @ 7:30PM | St. John the Baptist Church, Westport, MA</p>
            <p>December 13, 2019 @ 2:00PM | St. Theresa’s Catholic Church, Tiverton, RI</p>
            <p>Music for Choir and Harp, Featuring Hyunyung Choi</p>
            <p>
                <strong>Tickets: $15 in advance, $18 at the door</strong> Tickets available from Chorus Members or may be purchased
                at Coastal Roasters Coffee in Tiverton or by calling <a href="tel:7743284951">774-328-4951</a>.</p>
            <ul class="inline-list">
                <!--
                <li class="nav-item">
                    <a href="#">Get Tickets...</a>
                </li>
            -->
            </ul>
        </div>
        <!--
        <div id="concert-poster" class="text-box-image">
            <a href="/images/GTCC_ClassictoModern_Poster-2.png"> <img class="poster-img" title="Classing to Modern, Spring Concert 2019" alt="Poster for the Greater Tiverton Community Chorus Spring 2019 Concert: Classic to Modern" src="/images/GTCC_ClassictoModern_Poster-2.png" /></a>
        </div>
        --> 
    </div>
    <div id="concert-sponsors">
        <h2>This Concert Sponsored By:</h2>
        <div class="sponsors">
                <a title="Mass Cultural Council" href="http://www.massculturalcouncil.org" target="_blank"><img class="sponsor-img" title="Mass Cultural Council" alt="Mass Cultural Council Logo" src="/images/MCC_Logo_web.png" /></a>
        </div>
    </div>
    <a href="past-concerts.html">
        <h3>See Our Past Concerts...</h3>
    </a>
</div>
{% endblock %}
