{% extends "layouts/application.html" %} 
{% block title %}Greater Tiverton Community Chorus | Our Next Concert{% endblock %}
{% block head %}
<meta name="description" content="Upcoming concert information from the Grater Tiverton Community Chorus.">
<meta itemprop="name" content="The Greater Tiverton Community Chorus | Our Next Concert">
<meta itemprop="description" content="Upcoming concert information from the Greater Tiverton Community Chorus.">
<meta itemprop="image" content="/images/concert-2.jpg)">
{% endblock %}
{% block content %} {% include "shared/nav-bar.html" %}
<div id="concert-page-header-banner" class="banner-img" style="background-image: url(/images/concert-2.jpg)">
</div>
<div id="concert-info" class="container">
    <h2>Join Us For Our Next Concert</h2>
    <div id="concert">
        <div id="calendar" class="calendar-stack fa-5x">
            <i class="fa fa-calendar-o"></i>
            <span class="calendar-day">May 6 & 8</span>
        </div>
        <div id="concert-text" syle="width:90%">
            <h2>Sing Gently</h2>
            <h3>American Choral Music</h3>
            <p>Our concert celebrates American music in all its glory - from the genius of Randall Thompson’s settings of Robert Frost poetry, to the fabulous Billy Joel. From jazz vocals on scat syllables to the sublime classical sounds of Eric Whitaker. From black spirituals to Broadway and even a tribute to the late, great Stephen Sondheim. What a great way to welcome spring - to sing gently!</p>
            <p>Tickets $15. Available online, at the door, at Coastal Roasters (Tiverton), or at Partner's Village Store (Westport)</p>
            <ul>
                <li><strong>May 6, 7:30pm</strong>: St. John the Baptist Church, 915 Main Rd, Westport, MA</li>
                <li><strong>May 8, 2:00pm</strong>: St. Theresa Catholic Church, 265 Stafford Rd, Tiverton, RI</li>
            </ul>
            <ul class="inline-list">
                <li class="nav-item">
                     <a title="Brown Paper Bag Tickets" href="https://www.brownpapertickets.com/producer/4278489">Get Tickets...</a>
                </li>
            </ul>
            <table>
                <tr>
                    <td>Sing Gently</td><td>Eric Whitacre</td>
                </tr>
                <tr>
                    <td>Frostiana selections:
                        <ol>
                            <li>The Road Not Taken</li>
                            <li>The Pasture (TB only)</li>
                            <li>A Girl's Garden (SA only)</li>
                            <li>Choose Something Like a Star</li>
                        </ol>
                    </td>
                    <td>Randall Thompson</td>
                </tr>
                <tr>
                    <td>Spirituals:
                        <ol>
                            <li>There is a Balm in Gilead</li>
                            <li>Elijah Rock</li>
                            <li>My Lord What a Morning</li>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <td>Pop:
                        <ol>
                            <li>Lullabye (Goodnight, My Angel)</li>
                            <li>Longest Time</li>
                        </ol>
                    </td>
                    <td>
                        <br>
                        <p>Billy Joel</p>
                        <p>Billy Joel</p>
                    </td>
                </tr>
                <tr>
                    <td>Jazz:
                        Installment Blues</td>
                    <td>
                        <br>
                        <p>Bill Fletcher</p>
                    </td>
                </tr>
                <tr>
                    <td>Broadway:
                        <ol>
                            <li>Medley from The Secret Garden</li>
                            <li>Sunday</li>
                        </ol>
                    </td>
                    <td>
                        <br>
                        <p>Norman/Simon</p>
                        <p>Stephen Sondheim</p>
                    </td>
                </tr>
            </table>
        </div>
        <div id="concert-poster" class="text-box-image">
            <a href="/images/GTCCSpringPoster2022.jpg"><img class="poster-img" title="Sing Gently May 2022" alt="Poster for the Greater Tiverton Community Chorus Spring 2022 Concert: Sing Gently" src="/images/GTCCSpringPoster2022.jpg" /></a>
        </div>
    </div>
    <div id="concert-sponsors">
        <h2>This Concert Sponsored By:</h2>
        <div class="sponsors">
                <a title="Mass Cultural Council" href="http://www.massculturalcouncil.org" target="_blank"><img class="sponsor-img" title="Mass Cultural Council" alt="Mass Cultural Council Logo" src="/images/MCC_Logo_web.png" /></a>
        </div>
    </div>
    <a href="past-concerts.html">
        <h3>See Our Past Concerts...</h3>
    </a>
</div>
-->
{% endblock %}
