{% extends "layouts/application.html" %}
{% block title %}The Greater Tiverton Community Chorus{% endblock %}
{% block head %}
<meta name="description" content="A community chorus serving Tiverton, Little Compton, Westport, Portsmouth, Bristol, the Soutcoast area.">
<meta itemprop="name" content="The Greater Tiverton Community Chorus">
<meta itemprop="description" content="A community chorus serving Tiverton, Little Compton, Westport, Portsmouth, Bristol, the Soutcoast area.">
<meta itemprop="image" content="/images/concert-1.jpg)">
<link rel="dns-prefetch" href="//youtube.com/">
<link rel="preconnect" href="https://www.youtube.com/">
{% endblock %}
{% block content %}
<div id="front-page-header-banner" class="banner-img" style="background-image: url(/images/winter-concert-2019.jpg);">
  <div class="logo-container">
    <img class="logo-img" title="The Greater Tiverton Community Chorus" alt="The Greater Tiverton Community Chorus" src="/images/gtcc-logo_web.png" />
  </div>
</div>
<nav id="home-nav">
  <div class="nav-bar">
    <h2 class="nav-title mobile-only">The Greater Tiverton Community Chorus</h2>
    <div class="upper-button">
      <a id="listen-button" style="padding: 12px 26px 15px 26px" class="btn btn-nav-circle upper-circle" href="#listen">Listen</a>
    </div>
    <div class="lower-button">
      <a id="join-button" style="padding: 15px 35px 12px 35px" class="btn btn-nav-circle lower-circle" href="join.html">Join</a>
    </div>
  </div>
</nav>
<div class="container" style="border: solid 4px red;">
  <h2 style="text-align: center">GTCC Cancelling Spring Concert</h2>
  <p style="text-align: center">Following the CDC and local Board of Health guidelines, GTCC has chosen to cancel its Spring Concert. We are eager to perform the Magnificat we have been rehearsing with an orchestra, and plan to do so at our next spring concert. This decision is out of an abundance of caution to protect our membership and our wonderful audience community.</p>
  <p style="text-align: center">Please stay in touch with GTCC through our Facebook page and our website. After this crisis passes, we look forward to creating ways to celelbrate our 40th season!</p>
</div>
<!--
<div id="listen" class="container">
  <div id="concert" class="text-box">
    <div id="calendar" class="calendar-stack fa-5x">
      <i class="fa fa-calendar-o"></i>
      <span class="calendar-day">May 15 & 17</span>
    </div>
    <div id="concert-description" class="text-box-main">
        <h2>Join Us and Sing: Give Us a Try!</h2>
        <p>Open Sings January 9, 16, & 23, 7:00pm-9:15pm</p>
        <p>Amicable Congregational Church (3736 Main Rd, Tiverton)</p>
        <p>No Audition Required: All are Welcome! Then you can decide whether to join us for a season.</p>
      <ul class="inline-list">
        <li class="nav-item">
          <a href="join.html">Learn More...</a>
        </li>
      </ul>
    </div>
  <div id="concert-description" class="text-box-main">
      <h2>Arnesen's MAGNIFICAT</h2>
      <h3>Morley & More...</h3>
      <p>We are going to Carnegie Hall in April to perform the MAGNIFICAT. We will bring our NYC experience home and share it with you!</p>
      <ul class="inline-list">
          <li class="nav-item">
              <a href="concerts.html">Learn More...</a>
          </li>
          <!--
          <li class="nav-item">
              <a title="Brown Paper Bag Tickets" href="https://www.brownpapertickets.com/event/4448834">Get Tickets...</a>
          </li>
      </ul>
  </div>
  <!--  
  <div id="concert-poster" class="text-box-img">
      <a href="/images/GTCC_CeremonyofCarols_Flyer.jpg"><img class="poster-img" title="A Ceremony of Carols: Winter Concert 2020" alt="Poster for the Greater Tiverton Community Chorus Winter 2020 Concert: A Ceremony of Carols" src="/images/GTCC_CeremonyofCarols_Flyer.jpg" /></a>
  </div>
  </div>
  -->
  <div id="listen-secondary" class="split-column">
    <div id="bios" class="left-column">
      <div id="beth-bio" class="short-bio">
        <h3>Beth Armstrong, Director</h3>
        <img src="/images/Beth_web.png" title="Beth Armstrong" alt="Beth Armstrong, Director of the Greater Tiverton Community Chorus"
          class="bio-img" />
        <p>Beth Armstrong has taught at Roger Williams University, chaired the choral department at the Music School of
          the
          Rhode Island Philharmonic, and coordinated both the Junior Providence Singers and the JPS Treble Chorus.</p>
        <ul class="inline-list">
          <li class="nav-item">
            <details>
              <summary>More...</summary>
              <p>Beth is a graduate of Tufts University and pursued a master’s degree in Music Education from the
                University of New Hampshire. Prior to living in Rhode Island, Beth directed the Suncook Valley Chorale
                in Concord, New Hampshire and taught public school music for twelve years. In addition to directing our
                chorus, she also directs the Chorus of East Providence.</p>
            </details>
          </li>
          <li class="nav-item">
            <a href="mailto:betharmstrong1960@gmail.com">Contact Beth...</a>
          </li>
        </ul>
      </div>
      <div id="melissa-bio" class="short-bio">
        <h3>Heather Savage, Interim Accompanist</h3>
        <img src="/images/HeatherPic.jpg" title="Heather Savage" alt="Heather Savage, Interim Accompanist for the Greater Tiverton Community Chorus"
          class="bio-img" />
        <p>We welcome Heather Savage as interim accompanist. We bid a fond farewell to Melissa who’s life journey takes her out of state. Heather Niemi Savage grew up in Rhode Island, graduating from South Kingstown High School and the University of Rhode Island. She has extensive experience as a collaborative pianist which includes accompanying vocal and instrumental soloists and choral groups, performing in chamber ensembles, and playing in musical theater pits.</p>
        <ul class="inline-list">
          <li class="nav-item">
            <details>
              <summary>More...</summary>
              <p>Her primary piano teachers were Dr. Donald Rankin and Dennis Hughes, from whom she learned classical and jazz piano, respectively.</p>
              <p>Heather studied composition under <a title="Dr. Larry Bell" target="_blank" href="http://www.larrybellmusic.com/">Dr. Larry Bell</a> and Howard Frazien in Boston, MA.  In composition, as in life, she explores the interaction between the old and the new, tradition and innovation, examining every nuance and implication of her experiences and musical ideas. Composer <a title="Walter Saul" target="_blank" href="http://waltersaul.com/index.php/2016/11/04/reflections-on-the-national-conference-of-christian-fellowship-of-art-music-composers-cfamc-october-6-8-2016-mississippi-college-clinton-mississippi-part-iii/">Walter Saul</a> has described her work as "stunningly resourceful with scant material."</p>
              <p>Her works have been performed in a variety of contexts including the national conference of the Christian Fellowship of Art Music Composers; the 2016 Rhode Island All-State Festival; the 2017 New Music Festival in Fitchburg, MA; and commemorative events at local churches. Additionally, her work has been featured on the radio program, "Music of Our Mothers." Her piece for string orchestra Daughter of the Stars, is a semi-finalist in the 2020 American Prize composition competition in the orchestral pops division and will also be released on Ablaze Records' Orchestral Masters Volume 7, due out in Spring 2020.</p>
              <p>In addition to her work as an accompanist and composer, Heather is the music director at Carolina Free Baptist Church in Charlestown, RI and maintains a private teaching studio.</p>
            </details>
          </li>
          <li class="nav-item">
            <a href="mailto:melissa@melissawoolverton.com">Contact Melissa...</a>
          </li>
        </ul>
      </div>
    </div>
    <div id="audio-video" class="right-column">
      <div id="video">
        <iframe id="video-frame" title="Benediction: Greater Tiverton Community Chorus" src="https://www.youtube.com/embed/g1117SoaPmg"
          frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <figure>
        <figcaption>"Comedy Tonight" (Something Broadway, Spring 2018)</figcaption>
        <audio controls>
          <source src="/images/01_Comedy-Tonight_Something-Broadway_Spring-2018.mp3" type="audio/mp3" preload="metadata">
        </audio>
      </figure>
      <figure>
        <figcaption>"In the Bleak Midwinter" (Star Light, Star Bright, Winter 2017)</figcaption>
        <audio controls>
          <source src="/images/09_In-the-Bleak-Midwinter_Harmon_Winter-2017.mp3" type="audio/mp3" preload="metadata">
        </audio>
      </figure>
      <figure>
        <figcaption>"Won't You Please Come Home?" (Home is Where the Heart Is, Spring 2017)</figcaption>
        <audio controls>
          <source src="/images/06_Wont-You-Please-Come-Home_Home-Is-Where-The-Heart-Is_Spring-2017.mp3" type="audio/mp3"
            preload="metadata">
        </audio>
      </figure>
      <figure>
        <figcaption>"Bridge Over Troubled Water" (Water Music, Spring 2014)</figcaption>
        <audio controls>
          <source src="/images/11_Bridge-Over-Troubled-Water_Water-Music_Spring-2014.mp3" type="audio/mp3" preload="metadata">
        </audio>
      </figure>
      <p>See more of our <a href="past-concerts.html">past concerts</a>.</p>
    </div>
  </div>
</div>
<div id="about" class="container">
  <div class="text-container">
    <p class="center-text">We are a group of choral enthusiasts from Tiverton, Little Compton, Westport, Fall River,
      Aquidneck Island, and beyond.
      We gather to sing, promote choral music throughout our communities, and engage in community service. Since our
      first
      concert in December of 1980 we have been led by five wonderful directors, involved countless members, and
      performed
      almost 150 concerts. We hope you’ll consider joining us, whether to listen or to sing along!</p>
  </div>
</div>
<div id="testimony-container" class="container">
  <img id="testimony-img" class="testimony-img" title="Suzanne Rosevear" alt="Suzanne Rosevear, Chorus Member" src="/images/suzanne-2_web_small.jpg" />
  <div id="testimony-inner" class="text-box">
    <div id="testimony-text" class="text-container">
      <p class="center-text">“We all love to sing, but the chorus is about more than singing. It is a group of
        wonderful people, a way to give back
        to our community. It’s a family of like minded, kind hearted, talented people."</p>
      <p class="center-text">-Suzanne Rosevear, Chorus Member</p>
    </div>
  </div>
</div>
<div id="testimony-container" class="container">
  <img id="testimony-img" class="testimony-img" title="Sally Ann Ledbetter" alt="Sally Ann Ledbetter, Chorus President" src="/images/SallyAnn2020.jpg" />
  <div id="testimony-inner" class="text-box">
    <div id="testimony-text" class="text-container">
      <p class="center-text">"Singing is the breath of the soul."</p>
      <p class="center-text">-Sally Ann Ledbetter, Chorus President</p>
    </div>
  </div>
</div>
{% endblock %}
