{% extends "layouts/application.html" %}
{% block title %}The Greater Tiverton Community Chorus{% endblock %}
{% block head %}
<meta name="description" content="A community chorus serving Tiverton, Little Compton, Westport, Portsmouth, Bristol, the Soutcoast area.">
<meta itemprop="name" content="The Greater Tiverton Community Chorus">
<meta itemprop="description" content="A community chorus serving Tiverton, Little Compton, Westport, Portsmouth, Bristol, the Soutcoast area.">
<meta itemprop="image" content="/images/concert-1.jpg)">
<link rel="dns-prefetch" href="//youtube.com/">
<link rel="preconnect" href="https://www.youtube.com/">
{% endblock %}
{% block content %}
<div class="csslider">
    <input type="radio" name="slides" id="slides_1" checked />
    <input type="radio" name="slides" id="slides_2" />
    <input type="radio" name="slides" id="slides_3" />
    <input type="radio" name="slides" id="slides_4" />
    <ul>
        <li style="background-image: url(/images/conducting_may18-1.jpg)"> </li>
        <li style="background-image: url(/images/singing_may18-1.jpg)"></li>
        <li style="background-image: url(/images/singing_spring19-1.jpg)"></li>
        <li style="background-image: url(/images/rehearsal_web.jpg)"></li>
    </ul>
    <div class="arrows">
        <label for="slides_1"></label>
        <label for="slides_2"></label>
        <label for="slides_3"></label>
        <label for="slides_4"></label>
    </div>
    <div class="navigation">
        <div>
            <label for="slides_1"></label>
            <label for="slides_2"></label>
            <label for="slides_3"></label>
            <label for="slides_4"></label>
        </div>
    </div>
</div>
<div class="logo-container">
  <img class="logo-img" title="The Greater Tiverton Community Chorus" alt="The Greater Tiverton Community Chorus" src="/images/gtcc-logo_web.png" />
</div>
<nav id="home-nav">
  <div class="nav-bar">
    <h2 class="nav-title mobile-only">The Greater Tiverton Community Chorus</h2>
    <div class="upper-button">
      <a id="listen-button" style="padding: 12px 26px 15px 26px" class="btn btn-nav-circle upper-circle" href="#listen">Listen</a>
    </div>
    <div class="lower-button">
      <a id="join-button" style="padding: 15px 35px 12px 35px" class="btn btn-nav-circle lower-circle" href="join.html">Join</a>
    </div>
  </div>
</nav>
<div id="listen" class="container">
  <div id="concert" class="text-box">
    <div id="calendar" class="calendar-stack fa-5x">
      <i class="fa fa-calendar-o"></i>
      <span class="calendar-day">May 3 & 5</span>
    </div>
    <div id="concert-description" class="text-box-main">
      <h2>Our Next Concert: Classic to Modern</h2>
      <p>Music for Chorus and Strings, Featuring Haydn, Gjeilo, and more.</p>
      <ul class="inline-list">
        <li class="nav-item">
          <a href="concerts.html">Learn More...</a>
        </li>
        <!--
        <li class="nav-item">
          <a href="#">Get Tickets...</a>
        </li>
      -->
      </ul>
    </div>
    <div id="concert-poster" class="text-box-img">
      <a href="/images/GTCC_ClassictoModern_Poster.png"><img class="poster-img" title="Classing to Modern, Spring Concert 2019" alt="Poster for the Greater Tiverton Community Chorus Spring 2019 Concert: Classic to Modern" src="/images/GTCC_ClassictoModern_Poster.png" /></a>
    </div>
  </div>
  <div id="listen-secondary" class="split-column">
    <div id="bios" class="left-column">
      <div id="beth-bio" class="short-bio">
        <h3>Beth Armstrong, Director</h3>
        <img src="/images/Beth_web.png" title="Beth Armstrong" alt="Beth Armstrong, Director of the Greater Tiverton Community Chorus"
          class="bio-img" />
        <p>Beth Armstrong has taught at Roger Williams University, chaired the choral department at the Music School of
          the
          Rhode Island Philharmonic, and coordinated both the Junior Providence Singers and the JPS Treble Chorus.</p>
        <ul class="inline-list">
          <li class="nav-item">
            <details>
              <summary>More...</summary>
              <p>Beth is a graduate of Tufts University and pursued a master’s degree in Music Education from the
                University of New Hampshire. Prior to living in Rhode Island, Beth directed the Suncook Valley Chorale
                in Concord, New Hampshire and taught public school music for twelve years. In addition to directing our
                chorus, she also directs the Chorus of East Providence.</p>
            </details>
          </li>
          <li class="nav-item">
            <a href="mailto:betharmstrong1960@gmail.com">Contact Beth...</a>
          </li>
        </ul>
      </div>
      <div id="melissa-bio" class="short-bio">
        <h3>Melissa Woolverton, Accompanist</h3>
        <img src="/images/melissa_headshot_web.png" title="Melissa Woolverton" alt="Melissa Woolverton, Accompanist for the Greater Tiverton Community Chorus"
          class="bio-img" />
        <p>Melissa Woolverton was born and raised in Manitoba, Canada and at the age of three began studying classical
          piano
          through the Royal Conservatory of Music, Canada.</p>
        <ul class="inline-list">
          <li class="nav-item">
            <details>
              <summary>More...</summary>
              <p>Melissa graduated summa cum laude from Northern State University in Aberdeen, South Dakota with a
                piano, voice, and theater emphasis. Melissa was brought to Rhode Island by the Beechwood Theatre
                Company in Newport in 2004 where she both acted and served as Music Director. Melissa has been the
                music director for Newport Children’s Theatre, an accompanist and Music Director for Salve Regina
                University’s Opera Workshop, the University of Rhode Island, Opera Providence, Newport Children’s
                Theatre, Suzanne Vega, Dunkan Sheik, and Gerry Leonard, and for Broadway auditions. In addition to
                serving as our accompanist, she is currently the accompanist for the Chorus of Westerly, the Newport
                County Youth Chorus, the United Congregational Church in Middletown, RI, the High School Choruses of
                Middletown, RI, and Mount Hope in Bristol, RI, and is adjunct faculty for Salve Regina University and a
                board member for Newport Children’s Theatre.</p>
            </details>
          </li>
          <li class="nav-item">
            <a href="mailto:melissa@melissawoolverton.com">Contact Melissa...</a>
          </li>
        </ul>
      </div>
    </div>
    <div id="audio-video" class="right-column">
      <div id="video">
        <iframe id="video-frame" title="Benediction: Greater Tiverton Community Chorus" src="https://www.youtube.com/embed/g1117SoaPmg"
          frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <figure>
        <figcaption>"Comedy Tonight" (Something Broadway, Spring 2018)</figcaption>
        <audio controls>
          <source src="/images/01_Comedy-Tonight_Something-Broadway_Spring-2018.mp3" type="audio/mp3" preload="metadata">
        </audio>
      </figure>
      <figure>
        <figcaption>"In the Bleak Midwinter" (Star Light, Star Bright, Winter 2017)</figcaption>
        <audio controls>
          <source src="/images/09_In-the-Bleak-Midwinter_Harmon_Winter-2017.mp3" type="audio/mp3" preload="metadata">
        </audio>
      </figure>
      <figure>
        <figcaption>"Won't You Please Come Home?" (Home is Where the Heart Is, Spring 2017)</figcaption>
        <audio controls>
          <source src="/images/06_Wont-You-Please-Come-Home_Home-Is-Where-The-Heart-Is_Spring-2017.mp3" type="audio/mp3"
            preload="metadata">
        </audio>
      </figure>
      <figure>
        <figcaption>"Bridge Over Troubled Water" (Water Music, Spring 2014)</figcaption>
        <audio controls>
          <source src="/images/11_Bridge-Over-Troubled-Water_Water-Music_Spring-2014.mp3" type="audio/mp3" preload="metadata">
        </audio>
      </figure>
      <p>See more of our <a href="past-concerts.html">past concerts</a>.</p>
    </div>
  </div>
</div>
<div id="about" class="container">
  <div class="text-container">
    <p class="center-text">We are a group of choral enthusiasts from Tiverton, Little Compton, Westport, Fall River,
      Aquidneck Island, and beyond.
      We gather to sing, promote choral music throughout our communities, and engage in community service. Since our
      first
      concert in December of 1980 we have been led by five wonderful directors, involved countless members, and
      performed
      almost 150 concerts. We hope you’ll consider joining us, whether to listen or to sing along!</p>
  </div>
</div>
<div id="testimony-container" class="container">
  <img id="testimony-img" class="testimony-img" title="Suzanne Rosevear" alt="Suzanne Rosevear, Chorus Member" src="/images/suzanne-2_web_small.jpg" />
  <div id="testimony-inner" class="text-box">
    <div id="testimony-text" class="text-container">
      <p class="center-text">“We all love to sing, but the chorus is about more than singing. It is a group of
        wonderful people, a way to give back
        to our community. It’s a family of like minded, kind hearted, talented people."</p>
      <p class="center-text">-Suzanne Rosevear, Chorus Member</p>
    </div>
  </div>
</div>
{% endblock %}
