{% extends "layouts/application.html" %} 
{% block title %}The Greater Tiverton Community Chorus | Join Us {% endblock %}
{% block head %}
<meta name="description" content="How to become a member of the Greater Tiverton Community Chorus">
{% endblock %}
{% block content %} {% include "shared/nav-bar.html" %}
<div id="concert-page-header-banner" class="banner-img" style="background-image: url(/images/rehearsal_web.jpg)">
</div>
<div id="membership-info" class="text-container">
    <h2>Would You Like to Sing With Us?</h2>
    <h3>How to Join:</h3>
    <p>We meet for two semesters each year. Our fall semester begins in September and culminates with a Holiday Concert in December.
        Our spring semester begins in January and culminates with a Spring Concert in May. Rehearsals are held every Thursday
        evening from 7:00pm-9:15pm at Amicable Church (3736 Main Road, Tiverton, RI).</p>
    <p>The first three weeks of each semester are “open sings” in which visitors are welcome. If you wish to join, simply stop
        by for any or all of those rehearsals. If at the end of the open sing period you wish to join us permanently, we
        will ask you to contribute to the Chorus by paying dues ($65/semester or $120 for the full year, students receive
        a 50% discount). You’ll also be invited to a “Newcomer’s Party” to help you get to know everyone.</p>
    <div id="schedules" class="split-column">
        <div class="left-column">
            <h3>Rehearsal Schedule</h3>
            <iframe src="https://calendar.google.com/calendar/b/4/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=greatertivertonchorus%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FNew_York" style="border-width:0" width="90%" height="225" frameborder="0" scrolling="no"></iframe>
        </div>
        <div class="right-column">
            <h3>Next Open Sings</h3>
            <iframe src="https://calendar.google.com/calendar/b/4/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=200&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=n7gmou3vtpsel5tf0evake8gpg%40group.calendar.google.com&amp;color=%23875509&amp;ctz=America%2FNew_York" style="border-width:0" width="90%" height="225" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
    <h3>What It Means to Be Part of GTCC:</h3>
    <p>The Greater Tiverton Community Chorus is proud to give back in many ways to the communities in which we live, work, and
        sing. Community service has long been a hallmark of the chorus.</p>
    <p>Chorus concerts have raised money for: The liver transplant of a two-year old boy; A special wheelchair for the son of
        a chorus member; The Wish Come True Foundation of Newport County; the Women’s Resource Center which supports battered
        women; Hospice Outreach; Keyboards for Kids; the Westport River Watershed Alliance; and the Nature Conservancy of
        Tiverton.</p>
    <a href="past-concerts.html">
        <h4>Past Concerts and Community Outreach Efforts...</h4>
    </a>
</div>
{% endblock %}