{% extends "layouts/application.html" %}
{% block title %}The Greater Tiverton Community Chorus | Past Concerts{% endblock %}
{% block head %}
<meta name="description" content="Past concerts performed by the Greater Tiverton Community Chorus">
<meta itemprop="name" content="The Greater Tiverton Community Chorus | Past Concerts">
<meta itemprop="description" content="Past concerts performed by the Greater Tiverton Community Chorus">
<meta itemprop="image" content="/images/rehearsal_web.jpg)">
{% endblock %}
{% block content %} {% include "shared/nav-bar.html" %}
<div id="concert-page-header-banner" class="banner-image">
</div>
<div id="membership-info" class="text-container" style="padding-top: 72px">
      <h2>Our Past Concerts</h2>
      <h3>Winter 2018: Comfort and Joy</h3>
      <p>Pieces by JS Bach, GF Handel, Ralph Vaughn Williams, Samuel Scheidt, and others. Included the showcase of a
            piece by a local composer, Will Ayton (former chair of the music department at Roger Williams University).
            Our accompanist, Melissa Woolverton, was joined for this concert by a brass quartet.</p>
      <!--                  
      <audio controls>
            <source src="" type="">
      </audio>
      -->
      <h3>Spring 2018: Something Broadway</h3>
      <p>Pieces from
            <i>West Side Story</i>,
            <i>Oliver</i>,
            <i>Ragtime</i>, and more.</p>
      <p>This concert was done to benefit recovery efforts in Puerto Rico. Together we raised over $4,000 towards
            efforts to
            restore electricity on the island after hurricanes in 2017.</p>
      <p>Read more about this concert in the
            <a href="http://www.heraldnews.com/news/20180522/tiverton-chorus-holds-charity-concert-to-benefit-puerto-rico"
                  title="Tiverton Chorus Holds Charity Concert to Benefit Puerto Rico">Herald News</a>.</p>
      <figure>
            <figcaption>"Comedy Tonight"</figcaption>
            <audio controls>
                  <source src="/images/01_Comedy-Tonight_Something-Broadway_Spring-2018.mp3" type="audio/mp3" preload="metadata">
            </audio>
      </figure>
      <figure>
            <figcaption>"America" (from <i>West Side Story</i></figcaption>
            <audio controls>
                  <source src="/images/02_America_West-Side-Story_Something-Broadway_Spring-2018.mp3" type="audio/mp3" preload="metadata">
            </audio>
      </figure>
      <figure>
            <figcaption>"You Will Be Found" (from <i>Dear Evan Hansen</i>)</figcaption>
            <audio controls>
                  <source src="../images/05_You-Will-Be-Found_Dear-Evan-Hansen_Something-Broadway_Spring-2018.mp3" type="audio/mp3" preload="metadata">
            </audio>
      </figure>
      <h3>Winter 2017: Star Light, Star Bright</h3>
      <figure>
            <figcaption>"In the Bleak Midwinter" (Harmon)</figcaption>
            <audio controls>
                  <source src="/images/09_In-the-Bleak-Midwinter_Harmon_Winter-2017.mp3" type="audio/mp3" preload="metadata">
            </audio>
      </figure>
      <figure>
            <figcaption>"The Shepherds' Farewell"</figcaption>
            <audio controls>
                  <source src="/images/11_The-Shepherds-Farewell_Star-Light-Star-Bright_Winter-2017.mp3" type="audio/mp3" preload="metadata">
            </audio>
      </figure>
      <h3>Spring 2017: Home is Where the Heart Is</h3>
      <figure>
            <figcaption>"I'm Going Home" </figcaption>
            <audio controls>
                  <source src="/images/01_Im-Goin-Home_Home-Is-Where-The-Heart-Is_Spring-2017.mp3" type="audio/mp3" preload="metadata">
            </audio>
      </figure>
      <figure>
            <figcaption>"Won't You Please Come Home?"</figcaption>
            <audio controls>
                  <source src="/images/06_Wont-You-Please-Come-Home_Home-Is-Where-The-Heart-Is_Spring-2017.mp3" type="audio/mp3" preload="metadata">
            </audio>
      </figure>
      <figure>
            <figcaption>theme from M<i>New York, New York</i></figcaption>
            <audio controls>
                  <source src="/images/12_Theme-From-New-York-New-York_Home-Is-Where-The-Heart-Is_Spring-2017.mp3" type="audio/mp3" preload="metadata">
            </audio>
      </figure>
      <h3>Winter 2016: An American Christmas (with orchestra)</h3>
      <p>Featuring a full orchestra helping us perform American Christmas Carols old and new.</p>
      <h3>Spring 2016: Sing Me to Heaven</h3>
      <p>Featuring Daniel Pinkham’s Wedding Cantata helping us perform music about love.</p>
      <figure>
            <figcaption>"Love Changes Everything"</figcaption>
            <audio controls>
                  <source src="/images/01_Love-Changes-Everything_Sing-Me-To-Heaven_Spring-2016.mp3" type="audio/mp3" preload="metadata">
            </audio>
      </figure>
      <figure>
            <figcaption>"Solider, Will You Marry Me?"</figcaption>
            <audio controls>
                  <source src="/images/04_Soldier-Will-You-Marry-Me_Sing-Me-To-Heaven_Spring-2016.mp3" type="audio/mp3" preload="metadata">
            </audio>
      </figure>
      <figure>
            <figcaption>"Armor de mi Alma"</figcaption>
            <audio controls>
                  <source src="/images/07_Armor-de-mi-Alma_Sing-Me-to-Heaven_Spring-2016.mp3" type="audio/mp3" preload="metadata">
            </audio>
      </figure>
      <h3>Winter 2015: Sounding Joy!</h3>
      <p>Christmas music featuring a brass quartet (Scott Abrahamson, trumpet; Jim DeLillo, trombone; Susan
            Winterbottom, french
            horn; Tom Gregory, tuba) and Jason Boucher on the timpani drum.</p>
      <h3>Spring 2015: Joint Concert with the South Coast Community Chorus (featuring full orchestra)</h3>
      <h3>Winter 2014: Our Favorite Things</h3>
      <h3>Spring 2014: Water Music</h3>
      <p>This concert was done to benefit the Westport Watershed Alliance and the Nature Conservancy of Tiverton.</p>
      <figure>
            <figcaption>"Bridge Over Troubled Water"</figcaption>
            <audio controls>
                  <source src="/images/11_Bridge-Over-Troubled-Water_Water-Music_Spring-2014.mp3" type="audio/mp3" preload="metadata">
            </audio>
      </figure>
      <figure>
            <figcaption>"The Navy Hymn"</figcaption>
            <audio controls>
                  <source src="/images/16_The-Navy-Hymn_Water-Music_Spring-2014.mp3" type="audio/mp3" preload="metadata">
            </audio>
      </figure>
      <h3>Winter 2013: Breath of Heaven</h3>
      <p>Featuring Schubert’s Mass in G and other holiday music with string orchestra.</p>
      <h3>Spring 2013: Animal Crackers</h3>
      <figure>
            <figcaption>"Il Est Bel Et Bon"</figcaption>
            <audio controls>
                  <source src="/images/02_Il-Est-Best-Et-Bon_Animal-Crackers_Spring-2013.mp3" type="audio/mp3" preload="metadata">
            </audio>
      </figure>
      <h3>Winter 2012: A Celtic Christmas</h3>
      <p>Featuring Cathy Clasper-Torch on fiddle and Phil Edmonds on Penny Whistle.</p>
</div>
{% endblock %}