{% extends "layouts/application.html" %} 
{% block title %}The Greater Tiverton Community Chorus | Past Concerts{% endblock %}
{% block head %}
<meta name="description" content="Past concerts performed by the Greater Tiverton Community Chorus">
{% endblock %}
{% block content %} {% include "shared/nav-bar.html" %}
<div id="concert-page-header-banner" class="banner-image">
</div>
<div id="membership-info" class="text-container" style="padding-top: 72px">
      <h2>Our Past Concerts</h2>
      <h3>Spring 2018: Something Broadway</h3>
      <p>Pieces from
            <i>West Side Story</i>,
            <i>Oliver</i>,
            <i>Ragtime</i>, and more.</p>
      <p>This concert was done to benefit recovery efforts in Puerto Rico. Together we raised over $4,000 towards efforts to
            restore electricity on the island after hurricanes in 2017.</p>
      <p>Read more about this concert in the
            <a href="http://www.heraldnews.com/news/20180522/tiverton-chorus-holds-charity-concert-to-benefit-puerto-rico"
                  title="Tiverton Chorus Holds Charity Concert to Benefit Puerto Rico">Herald News</a>.</p>
      <!--                  
      <audio controls>
            <source src="" type="">
      </audio>
      <ul class="playlist">
            <li class="active">
                  <a href="">“America” (from
                        <i>West Side Story</i>)</a>
            </li>
            <li>
                  <a href="">"You Will Be Found" (from
                        <i>Dear Evan Hansen</i>)</a>
            </li>
      </ul>
      -->
      <h3>Winter 2017: Star Light, Star Bright</h3>
      <!-- <audio controls>
            <source src="" type="">
      </audio> -->
      <h3>Spring 2017: Home is Where the Heart Is</h3>
      <!-- <audio controls>
            <source src="" type="">
      </audio> -->
      <h3>Winter 2016: An American Christmas (with orchestra)</h3>
      <p>Featuring a full orchestra helping us perform American Christmas Carols old and new.</p>
      <h3>Spring 2016: Sing Me to Heaven</h3>
      <p>Featuring Daniel Pinkham’s Wedding Cantata helping us perform music about love.</p>
      <!-- <audio controls>
            <source src="" type="">
      </audio> -->
      <h3>Winter 2015: Sounding Joy!</h3>
      <p>Christmas music featuring a brass quartet (Scott Abrahamson, trumpet; Jim DeLillo, trombone; Susan Winterbottom, french
            horn; Tom Gregory, tuba) and Jason Boucher on the timpani drum.</p>
      <h3>Spring 2015: Joint Concert with the South Coast Community Chorus (featuring full orchestra)</h3>
      <h3>Winter 2014: Our Favorite Things</h3>
      <h3>Spring 2014: Water Music</h3>
      <p>This concert was done to benefit the Westport Watershed Alliance and the Nature Conservancy of Tiverton.</p>
      <!-- <audio controls>
            <source src="" type="">
      </audio> -->
      <h3>Winter 2013: Breath of Heaven</h3>
      <p>Featuring Schubert’s Mass in G and other holiday music with string orchestra.</p>
      <h3>Spring 2013: Animal Crackers</h3>
<!--       <audio controls>
            <source src="" type="">
      </audio>
 -->      <h3>Winter 2012: A Celtic Christmas</h3>
      <p>Featuring Cathy Clasper-Torch on fiddle and Phil Edmonds on Penny Whistle.</p>
</div>
{% endblock %}