/* Layout */

/* Utilities */

.container {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: $space-l;
    padding-bottom: $space-l;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.text-container {
    @extend .container;
    @extend .center;
    max-width: 696px;
}

.text-box {
    width: 96%;
    padding: $space-xs $space-m $space-xs $space-m;
    border: 1px solid $brand-green-primary;
}

.news-box {
    @extend .text-box;
    margin-left: 65%;
    margin-right: 36px;
    margin-top: -28vh;
    background: $brand-silver;
    opactiy: 0.85;
    max-width: 30%;
}

.text-box-main {
    padding: $space-s;
}

.split-column {
    padding-top: $space-l;
    width: 100%;
    @include media-above($break-medium) {
        display: inline-flex;
    }
    @include media-below($break-medium) {
        display: inline-block;
    }
}

.left-column {
    @include media-above($break-medium) {
        width: 45%;
        margin-right: 5%;
    }
    @include media-below($break-medium) {
        width: 90%;
    }
}

.right-column {
    @include media-above($break-medium) {
        width: 45%;
        margin-left: 5%;
    }
    @include media-below($break-medium) {
        width: 90%;
    }
}

.mobile-only {
    @include media-above($break-medium) {
        display: none;
    }
}

/* Footer */

footer {
    background-color: $brand-blue-dark;
    padding-top: $space-default;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: $space-m;
}

#footer-main {
    margin-bottom: $space-l;
    @include media-above($break-medium) {
        display: inline-flex;
    }
    @include media-below($break-medium) {
        display: inline-block;
    }
}

#sponsors-main {
    margin-right: $space-m;
}

.sponsors {
    display: inline-flex;
}

#credits {
    margin-top: $space-xl;
}

/* Calendar icons */

.calendar-stack {
    position: relative;
    display: inline-block;
    width: (28em / 14);
    height: 1em;
    margin: $space-m;
    margin-top: $space-l;
}

.fa-calendar-o,
.calendar-day {
    position: absolute;
}

.calendar-day {
    top: (18em / 8);
    left: (8em / 8);
    width: (24em / 8);
    height: (7em / 8);
    line-height: (14em / 14);
    text-align: center;
    font-size: 1.6rem;
}
