/* home page */

#concert {
    @include media-above($break-medium) {
        display: inline-flex;
    }
    @include media-below($break-medium) {
        display: inline-block;
    }
}

#audio,
#video {
    margin-top: $space-l;
}

#about {
    background-color: $brand-red-primary;
    color: $brand-white;
}

#testimony-container {
    position: relative;
}

#testimony-inner {
    margin-top: -30px;
    z-index: 1;
    padding-top: $space-s + 30;
}

#testimony-img {
    z-index: 2;
}

/* Concerts Page */

#concert-text {
    padding-left: 10%;
}